
body{
    font-family: 'Merriweather', serif;
    background: black;
    color: white;
    /* min-height: 100%; */
}

.wrapper{
    margin-left: 120px;
    height:100vh;
    padding: 12px 12px 0 24px !important;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 60px;

}

.main {
    /* grid-row: 1 / 2; */
}

.sidebar {
    width: 120px;
    background: #222;
    height: 100%;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: end; */
}

.footer-items {
    /* grid-row: 2 / 3; */

}
header {
    background: red;
}

footer {
    outline: solid green 5px;
    /* background: yellow; */
    /* grid-area: footer; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 
