
body{
    font-family: 'Merriweather', serif;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
    /* flex-direction: column; */
    background: black;
    color: white;

}

.main{
    margin-left: 120px;
}

.padding-main{
    padding: 12px 24px!important;
}

.nav{
    
}

.sidebar {
    width: 120px;
    background: #222;
    height: 100%;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    /* text-align: center!important; */
    /* font-size: 12px!important; */

}



 
