
body{
    font-family: 'Merriweather', serif;
    background: black;
    color: white;
    /* min-height: 100%; */


}

#content-footer {
    display: grid;
    height:100vh;
    grid-template-rows: 600px 370px 100px;

    grid-template-areas: 
    "content"
    "portfolio"
    "footer";
    
}
#portfolio {

    grid-area: portfolio;
}

.content {
    grid-area: content;
}

.main{
    margin-left: 120px;
}

.padding-main{
    padding: 12px 12px 0 24px !important;
}

.sidebar {
    width: 120px;
    background: #222;
    height: 100%;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}


/* #footer {
    outline: solid green 5px;
    background: yellow;
} */

#contact {
    outline: solid green 5px;
    /* background: yellow; */
    grid-area: footer;

    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 
